* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  background-color: #434141;
}

body {
}

/* ==========================navigation=========================== */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
  padding: 0 10% 0 10%;
  color: white;
  width: 100%;
  height: 100%;
}
/*========================== search input ========================*/
.seach-container {
  background-color: white;
}

.search-bar {
  width: 350px;
  height: 35px;
  padding-left: 35px;
  background-image: url(icon/search-icon.svg);
  background-repeat: no-repeat;
  border: none;
}

.search-bar:hover {
  background-image: url(icon/blue-search-icon.svg);
  color: #146c7f;
}
/* ======================= home section =========================== */
.home-icon {
  background-image: url(icon/house-solid.svg);
  background-repeat: no-repeat;
  background-position: in;
  position: relative;
  cursor: pointer;
  top: 2.4px;
  height: 32px;
  width: 32px;
}

.home-icon:hover {
  background-image: url(icon/blue-house-solid.svg);
}

/*========================= drop down menu =======================*/

.navList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4% 4% 4% 7%;
  width: 290px;
  height: 150px;
  gap: 0.5rem;
}

.linkItem {
  text-decoration: none;
  color: white;
  width: 125px;
  padding: 5px;
}

.linkItem:hover {
  color: rgb(20, 108, 127);
}

.link {
  background-image: url(icon/menu-bar.svg);
  background-repeat: no-repeat;
  background-color: #146b7f00;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
}

.link:hover {
  background-image: url(icon/blue-menu-bars-solid.svg);
}

.dropdown.active > .link,
.link:hover {
  background-image: url(icon/blue-menu-bars-solid.svg);
}

/* dropdown */

.dropdown {
  position: relative;
}

.dropdown-menu {
  width: auto;
  position: absolute;
  right: -40px;
  top: calc(100% + 0.25rem);
  background: #363535f1;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translate(-10px);
  transition: opacity 150rem ease-in-out transform 150rem ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translate(0);
  pointer-events: auto;
}

/* ======================= Hero Section ======================== */

/* ======================= attachment ========================== */

.hero-image {
  background-image: url(website-image/product-background-image/bg\ image.jpg);
  /* filter: brightness(90%); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}

/* need to add shadow to the background image */

.box-shadow {
  background-color: #1b191925;
  width: auto;

  height: 250px;
  position: relative;
  left: 5rem;
}

/* ======================= Hero Title =========================== */

.hero-title {
  color: white;
  font-size: 3.2rem;
  text-transform: uppercase;
  text-decoration: underline 4px;
  text-shadow: 0px 0px 30px #0b0b0b;
}

/* ======================== main section ========================= */

.home-page {
  background-color: #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  padding: 30px;
  width: 100%;
  height: 38%;
}

/* ======================== main content ======================== */

.product-item {
  width: 290px;
  height: 160.5px;
  background-color: whitesmoke;
  margin-bottom: 30px;
  font-size: 15px;
}

main > div:nth-last-of-type(-n + 2) {
  margin-bottom: 0;
}

.product-info {
  justify-self: center;
  font-size: 17px;
  font-weight: 300;
  width: 100%;
  color: #146c7f;
}

.item {
  display: flex;
  justify-content: space-between;
}

hr {
  position: relative;
  bottom: 0.5em;
  color: #146c7f;
}

.description {
  color: #146c7f;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sold-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sold {
  align-self: flex-end;
}

.dots {
  background-image: url(/icon/three_dots_icon.svg);
  position: relative;
  top: 5px;
  width: 1.8em;
  height: 1.8em;
}

.product {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  height: 100%;
}

.image-1 {
  background-image: url(/website-image/Resin-Ring&Other/fruit-and-smile-face-ring/fruit-ring-4.jpg);
}
.image-2 {
  background-image: url(/website-image/Resin-Ring&Other/fruit-and-smile-face-ring/fruit-ring-2.jpg);
}
.image-3 {
  background-image: url(/website-image/Resin-Ring&Other/fruit-and-smile-face-ring/fruit-ring-3.jpg);
}
.image-4 {
  background-image: url(/website-image/Resin-Ring&Other/flower-resin-ring/resin-ring-1.jpg);
}
.image-5 {
  background-image: url(/website-image/Resin-Ring&Other/flower-resin-ring/resin-ring-10.jpg);
}
.image-6 {
  background-image: url(/website-image/Resin-Ring&Other/flower-resin-ring/resin-ring-7.jpg);
}

/* .price{
  margin-top: 40px;
} */
